<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="boardMapper">

	<!-- ============================== 공지사항 ============================== -->
	<!-- ============================== 공지사항 ============================== -->
	<!-- ============================== 공지사항 ============================== -->

	<resultMap type="com.kh.project.board.vo.BoardNoticeVO" id="boardNotice">
		<id column="BOARD_NUM_NOTICE" 			property="boardNumNotice" />
		<result column="TITLE_NOTICE" 			property="titleNotice" />
		<result column="CONTENT_NOTICE" 		property="contentNotice" />
		<result column="CREATE_DATE_NOTICE" 	property="createDateNotice" />
		<result column="WRITER_NOTICE" 			property="writerNotice" />
		<result column="READ_CNT_NOTICE" 		property="readCntNotice" />
		<result column="FILE_NAME_NOTICE" 		property="fileNameNotice" />
		<result column="BOARD_PW_NOTICE" 		property="boardPwNotice" />
		<result column="TEAM_CODE" 				property="teamCode" />
	</resultMap>



	<resultMap type="com.kh.project.board.vo.NoticeImgVO" id="noticeImg">
		<id column="NOTICE_IMG_CODE" 					property="noticeImgCode" />
		<result column="NOTICE_IMG_ORIGN_NAME" 			property="noticeImgOrignName" />
		<result column="NOTICE_IMG_ATTACHED_NAME" 		property="noticeImgAttachedName" />
		<result column="BOARD_NUM_NOTICE" 				property="boardNumNotice" />
	</resultMap>



	<!-- 공지사항 목록 조회 -->
	<select id="selectBoardNoticeList" resultMap="boardNotice">
		SELECT BOARD_NUM_NOTICE
		, TITLE_NOTICE
		, CONTENT_NOTICE
		, WRITER_NOTICE
		, CREATE_DATE_NOTICE
		, READ_CNT_NOTICE
		, BOARD_PW_NOTICE
		, ROW_NUM
		FROM
		(
		SELECT BOARD_NUM_NOTICE
		, TITLE_NOTICE
		, CONTENT_NOTICE
		, WRITER_NOTICE
		, CREATE_DATE_NOTICE
		, READ_CNT_NOTICE
		, BOARD_PW_NOTICE
		, ROWNUM AS ROW_NUM
		FROM
		(
		SELECT BOARD_NUM_NOTICE
		, TITLE_NOTICE
		, CONTENT_NOTICE
		, WRITER_NOTICE
		, TO_CHAR(CREATE_DATE_NOTICE, 'YYYY-MM-DD') AS CREATE_DATE_NOTICE
		, READ_CNT_NOTICE
		, BOARD_PW_NOTICE
		FROM BOARD_NOTICE
		<if test="searchValue != null and !searchValue.equals('')">
			WHERE ${searchKeyword} LIKE '%'||LOWER(#{searchValue})||'%'
		</if>
		ORDER BY BOARD_NUM_NOTICE DESC
		)
		)
		WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
	</select>



	<!-- 공지사항 전체 데이터 개수 조회 -->
	<select id="selectBoardCntNotice" resultType="int">
		SELECT COUNT(BOARD_NUM_NOTICE)
		FROM BOARD_NOTICE
		<if test="searchValue != null and !searchValue.equals('')">
			WHERE ${searchKeyword} LIKE '%'||#{searchValue}||'%'
		</if>
	</select>



	<!-- 공지사항 상세 목록 조회 -->
	<select id="selectBoardNoticeDetail" resultMap="boardNotice">
		SELECT BOARD_NUM_NOTICE
		, TITLE_NOTICE
		, CONTENT_NOTICE
		, TO_CHAR(CREATE_DATE_NOTICE, 'YYYY.MM.DD') AS CREATE_DATE_NOTICE
		, WRITER_NOTICE
		, FILE_NAME_NOTICE
		, READ_CNT_NOTICE
		FROM BOARD_NOTICE
		WHERE BOARD_NUM_NOTICE = #{boardNumNotice}
	</select>



	<!-- 공지사항 글 쓰기 -->
	<insert id="insertBoardNotice">
		INSERT INTO BOARD_NOTICE (
		BOARD_NUM_NOTICE
		, TITLE_NOTICE
		, WRITER_NOTICE
		, CONTENT_NOTICE
		<if test="fileNameNotice != null and !fileNameNotice.equals('')">
			, FILE_NAME_NOTICE
		</if>
		<if test="boardPwNotice != null and !boardPwNotice.equals('')">
			, BOARD_PW_NOTICE
		</if>
		) VALUES (
		(SELECT NVL(MAX(BOARD_NUM_NOTICE), 0) + 1 FROM BOARD_NOTICE)
		, #{titleNotice}
		, #{writerNotice}
		, #{contentNotice}
		<if test="fileNameNotice != null and !fileNameNotice.equals('')">
			, #{fileNameNotice}
		</if>
		<if test="boardPwNotice != null and !boardPwNotice.equals('')">
			, #{boardPwNotice}
		</if>
		)
	</insert>



	<!-- 조회수 증가 -->
	<update id="updateReadCntNotice">
		UPDATE BOARD_NOTICE
		SET
		READ_CNT_NOTICE = READ_CNT_NOTICE + 1
		WHERE BOARD_NUM_NOTICE = #{boardNumNotice}
	</update>



	<!-- 공지사항 글 수정 -->
	<update id="updateBoardNotice">
		UPDATE BOARD_NOTICE
		SET
		TITLE_NOTICE = #{titleNotice}
		, CONTENT_NOTICE = #{contentNotice}
		<if test="fileNameNotice != null and !fileNameNotice.equals('')">
			, FILE_NAME_NOTICE = #{fileNameNotice}
		</if>
		WHERE BOARD_NUM_NOTICE = #{boardNumNotice}
	</update>



	<!-- 공지사항 글 삭제 -->
	<delete id="deleteBoardNotice">
		DELETE BOARD_NOTICE
		WHERE BOARD_NUM_NOTICE = #{boardNumNotice}
	</delete>



	<!-- 공지사항 이미지 업로드 -->
	<insert id="insertImgsNotice">
		INSERT INTO NOTICE_IMG (
		NOTICE_IMG_CODE
		, NOTICE_IMG_ORIGN_NAME
		, NOTICE_IMG_ATTACHED_NAME
		, BOARD_NUM_NOTICE
		)
		<foreach collection="noticeImgList" item="imgInfo" separator="UNION ALL">
			SELECT #{imgInfo.noticeImgCode}
			, #{imgInfo.noticeImgOrignName}
			, #{imgInfo.noticeImgAttachedName}
			, #{imgInfo.boardNumNotice}
			FROM DUAL
		</foreach>
	</insert>



	<!-- 다음 이미지 찾기 -->
	<select id="selectNextNumberNotice" resultType="int">
		SELECT NVL(MAX(TO_NUMBER(SUBSTR(NOTICE_IMG_CODE, 12, 3))) + 1, 1)
		FROM NOTICE_IMG
	</select>



	<!-- 공지사항 다음 들어갈 공지사항 넘버 조회 -->
	<select id="selectNextNoticeNum" resultType="int">
		SELECT NVL(MAX(BOARD_NUM_NOTICE) + 1, 1)
		FROM BOARD_NOTICE
	</select>


	<!-- 공지사항 이미지 조회 -->
	<select id="selectImgListNotice" resultMap="noticeImg">
		SELECT NOTICE_IMG_CODE
		, NOTICE_IMG_ORIGN_NAME
		, NOTICE_IMG_ATTACHED_NAME
		, BOARD_NUM_NOTICE
		FROM NOTICE_IMG
		WHERE BOARD_NUM_NOTICE = #{boardNumNotice}
		ORDER BY NOTICE_IMG_CODE
	</select>



	<!-- ============================== 자유게시판 ============================== -->
	<!-- ============================== 자유게시판 ============================== -->
	<!-- ============================== 자유게시판 ============================== -->

	<resultMap type="com.kh.project.board.vo.BoardFreeVO" id="boardFree">
		<id column="BOARD_NUM_FREE" 			property="boardNumFree" />
		<result column="TITLE_FREE" 			property="titleFree" />
		<result column="CONTENT_FREE" 			property="contentFree" />
		<result column="CREATE_DATE_FREE" 		property="createDateFree" />
		<result column="WRITER_FREE" 			property="writerFree" />
		<result column="READ_CNT_FREE" 			property="readCntFree" />
		<result column="FILE_NAME_FREE" 		property="fileNameFree" />
		<result column="BOARD_PW_FREE" 			property="boardPwFree" />
		<result column="TEAM_CODE" 				property="teamCode" />
	</resultMap>



	<resultMap type="com.kh.project.board.vo.FreeImgVO" id="freeImg">
		<id column="FREE_IMG_CODE" 					property="freeImgCode" />
		<result column="FREE_IMG_ORIGN_NAME" 		property="freeImgOrignName" />
		<result column="FREE_IMG_ATTACHED_NAME" 	property="freeImgAttachedName" />
		<result column="BOARD_NUM_FREE" 			property="boardNumFree" />
	</resultMap>



	<!-- 자유게시판 목록 조회 -->
	<select id="selectBoardFreeList" resultMap="boardFree">
		SELECT BOARD_NUM_FREE
		, TITLE_FREE
		, CONTENT_FREE
		, WRITER_FREE
		, CREATE_DATE_FREE
		, READ_CNT_FREE
		, BOARD_PW_FREE
		, ROW_NUM
        , TEAM_CODE
		FROM
		(
		SELECT BOARD_NUM_FREE
		, TITLE_FREE
		, CONTENT_FREE
		, WRITER_FREE
		, CREATE_DATE_FREE
		, READ_CNT_FREE
		, BOARD_PW_FREE
		, ROWNUM AS ROW_NUM
        , TEAM_CODE
		FROM
		(
		SELECT BOARD_NUM_FREE
		, TITLE_FREE
		, CONTENT_FREE
		, B.WRITER_FREE
		, TO_CHAR(CREATE_DATE_FREE, 'YYYY-MM-DD') AS CREATE_DATE_FREE
		, READ_CNT_FREE
		, BOARD_PW_FREE
        , M.TEAM_CODE
		FROM BOARD_FREE B, MEMBER M 
		WHERE B.WRITER_FREE = M.MEMBER_ID 
		<if test="searchValue != null and !searchValue.equals('')">
		AND ${searchKeyword} LIKE '%'||LOWER(#{searchValue})||'%'
		</if>
		ORDER BY BOARD_NUM_FREE DESC
		)
		)
		WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
	</select>



	<!-- 자유게시판 전체 데이터 개수 조회 -->
	<select id="selectBoardCntFree" resultType="int">
		SELECT COUNT(BOARD_NUM_FREE)
		FROM BOARD_FREE
		<if test="searchValue != null and !searchValue.equals('')">
			WHERE ${searchKeyword} LIKE '%'||#{searchValue}||'%'
		</if>
	</select>



	<!-- 자유게시판 상세 목록 조회 -->
	<select id="selectBoardFreeDetail" resultMap="boardFree">
		SELECT BOARD_NUM_FREE
		, TITLE_FREE
		, CONTENT_FREE
		, TO_CHAR(CREATE_DATE_FREE, 'YYYY.MM.DD') AS CREATE_DATE_FREE
		, WRITER_FREE
		, FILE_NAME_FREE
		, READ_CNT_FREE
		, TEAM_CODE
		FROM BOARD_FREE B, MEMBER M  
        WHERE B.WRITER_FREE = M.MEMBER_ID 
		AND BOARD_NUM_FREE = #{boardNumFree}
	</select>



	<!-- 자유게시판 글 쓰기 -->
	<insert id="insertBoardFree">
		INSERT INTO BOARD_FREE (
		BOARD_NUM_FREE
		, TITLE_FREE
		, WRITER_FREE
		, CONTENT_FREE
		<if test="fileNameFree != null and !fileNameFree.equals('')">
			, FILE_NAME_FREE
		</if>
		<if test="boardPwFree != null and !boardPwFree.equals('')">
			, BOARD_PW_FREE
		</if>
		) VALUES (
		(SELECT NVL(MAX(BOARD_NUM_FREE), 0) + 1 FROM BOARD_FREE)
		, #{titleFree}
		, #{writerFree}
		, #{contentFree}
		<if test="fileNameFree != null and !fileNameFree.equals('')">
			, #{fileNameFree}
		</if>
		<if test="boardPwFree != null and !boardPwFree.equals('')">
			, #{boardPwFree}
		</if>
		)
	</insert>



	<!-- 조회수 증가 -->
	<update id="updateReadCntFree">
		UPDATE BOARD_FREE
		SET
		READ_CNT_FREE = READ_CNT_FREE + 1
		WHERE BOARD_NUM_FREE = #{boardNumFree}
	</update>



	<!-- 자유게시판 글 수정 -->
	<update id="updateBoardFree">
		UPDATE BOARD_FREE
		SET
		TITLE_FREE = #{titleFree}
		, CONTENT_FREE = #{contentFree}
		<if test="fileNameFree != null and !fileNameFree.equals('')">
			, FILE_NAME_FREE = #{fileNameFree}
		</if>
		WHERE BOARD_NUM_FREE = #{boardNumFree}
	</update>



	<!-- 자유게시판 글 삭제 -->
	<delete id="deleteBoardFree">
		DELETE BOARD_FREE
		WHERE BOARD_NUM_FREE = #{boardNumFree}
	</delete>



	<!-- 자유게시판 이미지 업로드 -->
	<insert id="insertImgsFree">
		INSERT INTO FREE_IMG (
		FREE_IMG_CODE
		, FREE_IMG_ORIGN_NAME
		, FREE_IMG_ATTACHED_NAME
		, BOARD_NUM_FREE
		)
		<foreach collection="freeImgList" item="imgInfo" separator="UNION ALL">
			SELECT #{imgInfo.freeImgCode}
			, #{imgInfo.freeImgOrignName}
			, #{imgInfo.freeImgAttachedName}
			, #{imgInfo.boardNumFree}
			FROM DUAL
		</foreach>
	</insert>



	<!-- 다음 이미지 찾기 -->
	<select id="selectNextNumberFree" resultType="int">
		SELECT NVL(MAX(TO_NUMBER(SUBSTR(FREE_IMG_CODE, 12, 3))) + 1, 1)
		FROM FREE_IMG
	</select>



	<!-- 자유게시판 다음 들어갈 자유게시판 넘버 조회 -->
	<select id="selectNextFreeNum" resultType="int">
		SELECT NVL(MAX(BOARD_NUM_FREE) + 1, 1)
		FROM BOARD_FREE
	</select>



	<!-- 공지사항 이미지 조회 -->
	<select id="selectImgListFree" resultMap="freeImg">
		SELECT FREE_IMG_CODE
		, FREE_IMG_ORIGN_NAME
		, FREE_IMG_ATTACHED_NAME
		, BOARD_NUM_FREE
		FROM FREE_IMG
		WHERE BOARD_NUM_FREE = #{boardNumFree}
		ORDER BY FREE_IMG_CODE
	</select>





</mapper>































