<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<!-- 윤인규 10/23 용병 구인구직 게시글 등록 구현중-->
<!-- 윤인규 10/25 용병 구인구직 게시글 지원자 vo 작성 -->
<mapper namespace="matchMapper">
	<resultMap type="com.kh.project.match.vo.MatchVO" id="match">
		<id column="MATCH_CODE" 				property="matchCode"/>
		<result column="TEAM_CODE" 				property="teamCode"/>
		<result column="TEAM_CODE_AWAY" 		property="teamCodeAway"/>
		<result column="MATCH_WRITER" 			property="matchWriter"/>
		<result column="MATCH_INTRO" 			property="matchIntro"/>
		<result column="MATCH_REGDATE" 			property="matchRegdate"/>
		<result column="MATCH_DATE" 			property="matchDate"/>
		<result column="MATCH_START_TIME" 		property="matchStartTime"/>
		<result column="MATCH_END_TIME" 		property="matchEndTime"/>
		<result column="MATCH_POSSIBLE" 		property="matchPossible"/>
		<result column="MATCH_LOCATION" 		property="matchLocation"/>
		<result column="MATCH_APPLYNUM" 		property="matchApplyNum"/>
	</resultMap>
	
	<insert id="insertMatchBoard">
		INSERT INTO MATCH (
			MATCH_CODE
			, MATCH_WRITER
			, MATCH_INTRO	
			, MATCH_DATE
			, MATCH_START_TIME
			, MATCH_END_TIME
			, MATCH_POSSIBLE
			, MATCH_LOCATION
		) VALUES (
			(SELECT 'MATCH_CODE_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MATCH_CODE, 12, 4))), 0)+1, 4, '0') FROM MATCH)
			, #{matchWriter}
			, #{matchIntro}
			, #{matchDate}
			, #{matchStartTime}
			, #{matchEndTime}
			, #{matchPossible}
			, #{matchLocation}
		)
	</insert>
	
	<select id="selectMatchList" resultMap="match">
		SELECT MATCH_CODE
			, MATCH_LOCATION
			, MATCH_DATE
			, MATCH_START_TIME
			, MATCH_END_TIME
			, MATCH_APPLYNUM
			, MATCH_WRITER
			, TO_CHAR(MATCH_REGDATE, 'YYYY-MM-DD') AS MATCH_REGDATE
			, MATCH_POSSIBLE
		FROM MATCH
		ORDER BY MATCH_CODE DESC
	</select>
	
</mapper>