<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="memberMapper">

	<resultMap type="com.kh.project.member.vo.MemberVO" id="member">
		<id column="MEMBER_CODE" 			property="memberCode"/>
        <result column="MEMBER_ID" 			property="memberId"/>
       	<result column="MEMBER_PW" 			property="memberPw"/>
       	<result column="MEMBER_NAME" 		property="memberName"/>
       	<result column="MEMBER_BIRTH" 		property="memberBirth"/>
       	<result column="MEMBER_GENDER" 		property="memberGender"/>
       	<result column="MEMBER_TELL" 		property="memberTell"/>
       	<result column="IS_ADMIN" 			property="isAdmin"/>
       	<result column="TEAM_CODE" 			property="teamCode"/>
       	<result column="TEAM_ADMIN" 		property="teamAdmin"/>
       	<result column="POSITION" 			property="position"/>
       	<result column="MEMBER_JOIN_DATE" 	property="memberJoinDate"/>
	</resultMap>
	
	<resultMap type="com.kh.project.member.vo.MemberImgVO" id="memberImg">
		<id column="MEMBER_IMG_CODE" 					property="memberImgCode"/>
		<result column="MEMBER_IMG_ORIGN_NAME" 			property="memberImgOrignName"/>
		<result column="MEMBER_IMG_ATTACHED_NAME" 		property="memberImgAttachedName"/>
		<result column="MEMBER_CODE" 					property="memberCode"/>
	</resultMap>
	
	<resultMap type="com.kh.project.member.vo.MemberVO" id="memberView">
		<id column="MEMBER_CODE" 							property="memberCode"/>
        <result column="MEMBER_ID" 							property="memberId"/>
       	<result column="MEMBER_NAME" 						property="memberName"/>
       	<result column="MEMBER_BIRTH" 						property="memberBirth"/>
       	<result column="MEMBER_GENDER" 						property="memberGender"/>
       	<result column="MEMBER_TELL" 						property="memberTell"/>
       	<result column="IS_ADMIN" 							property="isAdmin"/>
       	<result column="TEAM_CODE" 							property="teamCode"/>
       	<result column="TEAM_NAME" 							property="teamName"/>
       	<result column="TEAM_ADMIN" 						property="teamAdmin"/>
       	<result column="POSITION" 							property="position"/>
       	<result column="MEMBER_IMG_ATTACHED_NAME" 			property="memberImgAttachedName"/>
	</resultMap>

	<resultMap type="com.kh.project.member.vo.MemberBlacklistVO" id="memberBlacklist">
		<id column="MEMBER_CODE" 					property="memberCode"/>
        <result column="BLACKMEMBER_CODE" 			property="blackmemberCode"/>
       	<result column="BLACK_COMMENT" 				property="blackComment"/>
       	<result column="BLACK_TEAM" 				property="blackTeam"/>
       	<result column="BLACK_NAME" 				property="blackName"/>
       	<result column="BLACK_DATE" 				property="blackDate"/>
       	<result column="BLACK_IMG" 					property="blackImg"/>
       	<result column="BLACK_TEAM_LOG" 			property="blackTeamLog"/>
       	<result column="BLACK_POSITION" 			property="blackPosition"/>
       	<result column="BLACK_TEAM_LOCATION" 		property="blackTeamLocation"/>
	</resultMap>	
	<!-- 회원가입 -->
	<insert id="join">
		INSERT INTO MEMBER (
			MEMBER_CODE
			, MEMBER_ID
			, MEMBER_PW
			, MEMBER_NAME
			, MEMBER_BIRTH
			, MEMBER_GENDER
			, MEMBER_TELL
			, POSITION
		) VALUES (
			(SELECT 'MEMBER_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MEMBER_CODE,8,4))),0)+1,4,'0')AS MEMBER_CODE FROM MEMBER)
			, #{memberId}
			, #{memberPw}
			, #{memberName}
			, #{memberBirth}
			, #{memberGender}
			, #{memberTell}
			, #{position}
		)
	</insert>
	<!-- 아이디 중복체크 -->
	<select id="checkId" resultType="String">
		SELECT MEMBER_ID FROM MEMBER WHERE MEMBER_ID = #{memberId}
	</select>
	<!-- 비밀번호 체크 -->
	<select id="checkPw" resultType="String">
		SELECT MEMBER_PW 
		FROM MEMBER 
		WHERE MEMBER_CODE = #{memberCode} 
		AND MEMBER_PW = #{memberPw}
	</select>
	<!-- 비밀번호 변경 -->
	<update id="changePw">
		UPDATE MEMBER SET 
			MEMBER_PW = #{memberPw}
		WHERE MEMBER_CODE = #{memberCode}
	</update>
	<!-- 이미지 인설트 -->
	<insert id="insertMemberImg">
		INSERT INTO MEMBER_IMG VALUES (
			(SELECT 'MEMBER_IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MEMBER_IMG_CODE,12,4))),0)+1,4,'0')AS MEMBER_IMG_CODE FROM MEMBER_IMG) 
			, #{memberImgOrignName}
			, #{memberImgAttachedName}
			, #{memberCode}
		)
	</insert>
	<!-- 다음 회원코드 조회 -->
	<select id="nextMemberCode" resultType="String">
		SELECT 'MEMBER_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MEMBER_CODE,8,4))),0)+1,4,'0')AS MEMBER_CODE FROM MEMBER
	</select>
	<select id="checkLogin" resultType="String">
		SELECT MEMBER_CODE 
		FROM MEMBER 
		WHERE MEMBER_ID = #{memberId} 
		AND MEMBER_PW = #{memberPw}
	</select>
	<!-- 회원정보 수정하기 -->
	<update id="updateMemberInfo">
		UPDATE MEMBER SET 
			MEMBER_NAME = #{memberName}
			, MEMBER_TELL = #{memberTell}
			, POSITION = #{position} 
		WHERE MEMBER_CODE = #{memberCode}
	</update>
	<!-- 회원 사진유무 확인 -->
	<select id="checkMemberImg" resultMap="memberImg">
		SELECT MEMBER_IMG_ATTACHED_NAME 
		FROM MEMBER_IMG
		WHERE MEMBER_CODE = #{memberCode}
	</select>
	<!-- 회원사진 수정하기 -->
		<update id="updateMemberImg">
		UPDATE MEMBER_IMG SET 
			MEMBER_IMG_ORIGN_NAME = #{memberImgOrignName}
			, MEMBER_IMG_ATTACHED_NAME = #{memberImgAttachedName}
		WHERE MEMBER_CODE = #{memberCode}
	</update>
	<!-- session 정보 -->
	<select id="selectMemberInfo" resultMap="memberView">
		SELECT MEMBER_CODE
			, MEMBER_ID
			, MEMBER_NAME
			, MEMBER_BIRTH
			, MEMBER_GENDER
			, MEMBER_TELL
			, IS_ADMIN
			, POSITION
			, TEAM_CODE
			, TEAM_NAME
			, TEAM_ADMIN 
			, MEMBER_IMG_ATTACHED_NAME
		FROM MEMBER_VIEW
		WHERE MEMBER_CODE = #{memberCode}
	</select>
	<!-- 자유게시판 회원아디에서 회원코드 빼오기 -->
	<select id="memberCode" resultType="String">
	SELECT MEMBER_CODE FROM MEMBER WHERE MEMBER_ID = #{memberId}
	</select>
	<!-- 멤버 블랙 아이디 중복체크 -->
	<select id="checkMemberBlack" resultType="String">
		SELECT BLACKMEMBER_CODE FROM MEMBER_BLACKLIST WHERE MEMBER_CODE = #{memberCode} AND BLACKMEMBER_CODE = #{blackmemberCode}
	</select>
	
	<!-- 멤버 블랙하기 -->
	<insert id="addMemberBlack">
		INSERT INTO MEMBER_BLACKLIST(
			BLACKMEMBER_CODE
    		, MEMBER_CODE
    		, BLACK_COMMENT
		) VALUES (
    		#{blackmemberCode}
    		, #{memberCode}
    		, #{blackComment}
		)
	</insert>
	
	<!-- 멤버 블랙리스트 보기 -->
	<select id="memberBlackList" resultMap="memberBlacklist">
		SELECT M.MEMBER_CODE
        	, BLACKMEMBER_CODE
        	, BLACK_COMMENT
            , TO_CHAR(BLACK_DATE,'YYYY.MM.DD') AS BLACK_DATE
        	,(SELECT MEMBER_NAME FROM MEMBER WHERE MEMBER_CODE = MB.BLACKMEMBER_CODE) AS BLACK_NAME
        	,(SELECT POSITION FROM MEMBER WHERE MEMBER_CODE = MB.BLACKMEMBER_CODE) AS BLACK_POSITION
            ,(SELECT MEMBER_IMG_ATTACHED_NAME FROM MEMBER_VIEW WHERE MEMBER_CODE = MB.BLACKMEMBER_CODE) AS BLACK_IMG
            ,(SELECT TEAM_LOGO_IMG_ATTACHED_NAME FROM TEAM_LOGO_IMG WHERE TEAM_CODE = (SELECT TEAM_CODE FROM MEMBER WHERE MEMBER_CODE = MB.BLACKMEMBER_CODE)) AS BLACK_TEAM_LOG 
        	,(SELECT TEAM_NAME FROM TEAM WHERE MEMBER_CODE = MB.BLACKMEMBER_CODE) AS BLACK_TEAM 
        	,(SELECT TEAM_LOCATION FROM TEAM WHERE MEMBER_CODE = MB.BLACKMEMBER_CODE) AS BLACK_TEAM_LOCATION 
		FROM MEMBER M, MEMBER_BLACKLIST MB 
		WHERE M.MEMBER_CODE  = MB.MEMBER_CODE(+)
        AND M.MEMBER_CODE = #{memberCode}
	</select>
	<!-- 멤버 블랙리스트 삭제 -->
	<delete id="deleteMemberBlack">
		DELETE MEMBER_BLACKLIST 
		WHERE MEMBER_CODE = #{memberCode}
		AND BLACKMEMBER_CODE = #{blackmemberCode}
	</delete>
	
	<!-- 회원탈퇴 -->
	<delete id="deleteMember">
		DELETE MEMBER WHERE MEMBER_CODE = #{memberCode}
	</delete>
</mapper>












