<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<!-- 윤인규 10/23 용병 구인구직 게시글 등록 구현중-->
<!-- 윤인규 10/25 용병 구인구직 게시글 지원자 vo 작성 -->
<mapper namespace="mercenaryMapper">
	<resultMap type="com.kh.project.mercenary.vo.MercenaryVO" id="mercenary">
		<!-- 용병 구인구직 -->
		<id column="MERC_BOARD_CODE" 				property="mercBoardCode"/>
		<result column="MERC_BOARD_SORT" 			property="mercBoardSort"/>
		<result column="MERC_BOARD_WRITER" 			property="mercBoardWriter"/>
		<result column="MERC_BOARD_INTRO" 			property="mercBoardIntro"/>
		<result column="MERC_BOARD_REGDATE" 		property="mercBoardRegdate"/>
		<result column="MERC_BOARD_APPLYNUMBER" 	property="mercBoardApplyNumber"/>
		<result column="MERC_BOARD_POSSIBLE" 		property="mercBoardPossible"/>
		<result column="MERC_BOARD_DATE" 			property="mercBoardDate"/>
		<result column="MERC_BOARD_START_TIME" 		property="mercBoardStartTime"/>
		<result column="MERC_BOARD_END_TIME" 		property="mercBoardEndTime"/>
		<result column="MERC_BOARD_LOCATION" 		property="mercBoardLocation"/>
		<result column="TEAM_CODE" 					property="teamCode"/>
		<result column="MEMBER_CODE" 				property="memberCode"/>
	</resultMap>
	
	<resultMap type="com.kh.project.mercenary.vo.MercenaryListVO" id="mercenaryList">
		<!-- 용병 구인구직 지원 리스트 -->
		<id column="MERC_LIST_CODE" 				property="mercListCode"/>
		<result column="MERC_BOARD_CODE" 			property="mercBoardCode"/>
		<result column="MEMBER_CODE" 				property="memberCode"/>
		<result column="TEAM_CODE" 					property="teamCode"/>
		<result column="MEMBER_NAME" 				property="memberName"/>
		<result column="POSITION" 					property="position"/>
		<result column="MERC_LIST_RESPONSE" 		property="mercListResponse"/>
	</resultMap>
	
	<!-- 용병 구인구직 게시글 등록 -->
	<insert id="insertMercBoard">
		INSERT INTO MERCENARY_BOARD (
			MERC_BOARD_CODE
			, MERC_BOARD_SORT
			, MERC_BOARD_WRITER
			, MERC_BOARD_INTRO	
			, MERC_BOARD_POSSIBLE
			, MERC_BOARD_DATE
			, MERC_BOARD_START_TIME
			, MERC_BOARD_END_TIME
			, MERC_BOARD_LOCATION
			, MEMBER_CODE
			, TEAM_CODE
		) VALUES (
			(SELECT 'MERC_BD_CODE_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MERC_BOARD_CODE, 14, 4))), 0)+1, 4, '0') FROM MERCENARY_BOARD)
			, #{mercBoardSort}
			, #{mercBoardWriter}
			, #{mercBoardIntro}
			, #{mercBoardPossible}
			, #{mercBoardDate}
			, #{mercBoardStartTime}
			, #{mercBoardEndTime}
			, #{mercBoardLocation}
			, #{memberCode}
			, #{teamCode}
		)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateMercBoard">
		UPDATE MERCENARY_BOARD
		SET
		MERC_BOARD_LOCATION = #{mercBoardLocation}
			, MERC_BOARD_DATE = #{mercBoardDate}
			, MERC_BOARD_START_TIME = #{mercBoardStartTime}
			, MERC_BOARD_END_TIME = #{mercBoardEndTime}
			, MERC_BOARD_INTRO = #{mercBoardIntro}
		WHERE MERC_BOARD_CODE = #{mercBoardCode}
	</update>
	
	<!-- 용병 구인구직 게시글 리스트 조회 -->
	<select id="selectMercBoardList" resultMap="mercenary">
		SELECT MERC_BOARD_CODE
			, MERC_BOARD_SORT
			, MERC_BOARD_LOCATION
			, MERC_BOARD_WRITER
			, MERC_BOARD_POSSIBLE
			, MERC_BOARD_DATE
			, MERC_BOARD_START_TIME
			, MERC_BOARD_END_TIME
			, TO_CHAR(MERC_BOARD_REGDATE, 'YYYY-MM-DD') AS MERC_BOARD_REGDATE
			, MERC_BOARD_APPLYNUMBER
		FROM MERCENARY_BOARD
		ORDER BY MERC_BOARD_CODE DESC
	</select>
	<!-- 나의 용병 구인구직 게시글보기-->
	<select id="MyMercBoard" resultMap="mercenary">
		SELECT MERC_BOARD_CODE
			, MERC_BOARD_SORT
			, MERC_BOARD_LOCATION
			, MERC_BOARD_WRITER
			, MERC_BOARD_POSSIBLE
			, MERC_BOARD_DATE
			, MERC_BOARD_START_TIME
			, MERC_BOARD_END_TIME
			, TO_CHAR(MERC_BOARD_REGDATE, 'YYYY-MM-DD') AS MERC_BOARD_REGDATE
			, MERC_BOARD_APPLYNUMBER
		FROM MERCENARY_BOARD 
		WHERE MEMBER_CODE = #{memberCode}
		ORDER BY MERC_BOARD_DATE DESC
	</select>
	<!-- 용병 구인구직 상세보기 -->
	<select id="selectMercDetail" resultMap="mercenary">
		SELECT *
		FROM MERCENARY_BOARD
		WHERE MERC_BOARD_CODE = #{mercBoardCode}
	</select>
	
	<!-- 용병 구인구직 지원하기 -->
	<insert id="insertMercList">
		INSERT INTO MERC_APPLYLIST (
			MERC_LIST_CODE
			, MERC_BOARD_CODE
			, MEMBER_CODE
		)
		VALUES (
			(SELECT 'MERC_LT_CODE_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MERC_LIST_CODE, 14, 4))), 0)+1, 4, '0') FROM MERC_APPLYLIST)
			<!-- 상세보기하고 있는 보드코드 -->
			, #{mercBoardCode}
			<!-- 로그인 한 사람 멤버코드 -->
			, #{memberCode}
		)
	</insert>
	
	<!-- 용병 구인구직 멤버 수 올리기 -->
	<update id="updateMemberCnt">
		UPDATE MERCENARY_BOARD
		SET
		MERC_BOARD_APPLYNUMBER = MERC_BOARD_APPLYNUMBER + 1
        WHERE MERC_BOARD_CODE = #{mercBoardCode}
	</update>
	
	<!-- 용병 구인구직 지원 리스트 조회 -->
	<select id="selectMercRecruitList" resultMap="mercenaryList">
		SELECT MERC_LIST_CODE
			, M.MEMBER_CODE
		    , MEMBER_NAME
		    , POSITION
		    , MERC_LIST_RESPONSE
		FROM MEMBER M, MERC_APPLYLIST A
		WHERE M.MEMBER_CODE = A.MEMBER_CODE
		AND MERC_BOARD_CODE = #{mercBoardCode}
	</select>
	
	<!-- 용병 지원 수락 쿼리 -->
	<update id="updateResponse">
		UPDATE MERC_APPLYLIST
		SET
		MERC_LIST_RESPONSE = '수락'
		WHERE MERC_LIST_CODE = #{mercListCode}
	</update>
	<update id="updateRespnseRefuse"> <!-- 수락 누른애 제외 모두 거절로 변경 쿼리 -->
		UPDATE MERC_APPLYLIST
		SET
		MERC_LIST_RESPONSE = '거절'
		WHERE MERC_BOARD_CODE = #{mercBoardCode}
		AND MERC_LIST_RESPONSE IN (SELECT MERC_LIST_RESPONSE 
		              FROM MERC_APPLYLIST
		              WHERE MERC_BOARD_CODE = #{mercBoardCode}
		              AND MERC_LIST_RESPONSE = '응답중')
	</update>
	<update id="updatePossible"> <!-- 보드 테이블 지원 불가능 업데이트 쿼리 -->
		UPDATE MERCENARY_BOARD
		SET
		MERC_BOARD_POSSIBLE = '2'
		WHERE MERC_BOARD_CODE = #{mercBoardCode}
	</update>
	
</mapper>












