<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="replyMapper">

	<!-- ============================== 공지사항 ============================== -->
	<!-- ============================== 공지사항 ============================== -->
	<!-- ============================== 공지사항 ============================== -->

	<resultMap type="com.kh.project.board.vo.ReplyNoticeVO" id="replyNotice">
		<id column="REPLY_NUM_NOTICE" property="replyNumNotice" />
		<result column="CONTENT_NOTICE" property="contentNotice" />
		<result column="WRITER_NOTICE" property="writerNotice" />
		<result column="CREATE_DATE_NOTICE" property="createDateNotice" />
		<result column="BOARD_NUM_NOTICE" property="boardNumNotice" />
	</resultMap>


	<!-- 공지사항 댓글 등록 -->
	<insert id="insertReplyNotice">
		INSERT INTO REPLY_NOTICE (
		REPLY_NUM_NOTICE
		, CONTENT_NOTICE
		, WRITER_NOTICE
		, BOARD_NUM_NOTICE
		) VALUES(
		(SELECT NVL(MAX(REPLY_NUM_NOTICE), 0) + 1 FROM REPLY_NOTICE)
		, #{contentNotice}
		, #{writerNotice}
		, #{boardNumNotice}
		)
	</insert>


	<!-- 공지사항 댓글 목록 조회 -->
	<select id="selectReplyNoticeList" resultMap="replyNotice">
		SELECT WRITER_NOTICE
		, TO_CHAR(CREATE_DATE_NOTICE, 'YYYY.MM.DD. HH24:MI') AS CREATE_DATE_NOTICE
		, CONTENT_NOTICE
		, REPLY_NUM_NOTICE
		FROM REPLY_NOTICE
		WHERE BOARD_NUM_NOTICE = #{boardNumNotice}
		ORDER BY REPLY_NUM_NOTICE DESC
	</select>


	<!-- 공지사항 댓글 삭제 -->
	<delete id="deleteReplyNotice">
		DELETE REPLY_NOTICE
		WHERE REPLY_NUM_NOTICE = #{replyNumNotice}
	</delete>



	<!-- <delete id="deleteBoardReplyNotice"> -->
	<!-- DELETE BOARD_REPLY -->
	<!-- WHERE BOARD_NUM = #{boardNum} -->
	<!-- </delete> -->














	<!-- ============================== 자유게시판 ============================== -->
	<!-- ============================== 자유게시판 ============================== -->
	<!-- ============================== 자유게시판 ============================== -->

	<resultMap type="com.kh.project.board.vo.ReplyFreeVO" id="replyFree">
		<id column="REPLY_NUM_FREE" property="replyNumFree" />
		<result column="CONTENT_FREE" property="contentFree" />
		<result column="WRITER_FREE" property="writerFree" />
		<result column="CREATE_DATE_FREE" property="createDateFree" />
		<result column="BOARD_NUM_FREE" property="boardNumFree" />
	</resultMap>




</mapper>







