<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="teamMapper">
	<resultMap type="com.kh.project.team.vo.TeamVO" id="team">
		<id column="TEAM_CODE" 							property="teamCode"/>
		<result column="TEAM_NAME" 						property="teamName"/>
		<result column="MEMBER_CODE" 					property="memberCode"/>
		<result column="TEAM_ADMIN" 					property="teamAdmin"/>
		<result column="TEAM_LOCATION" 					property="teamLocation"/>
		<result column="TEAM_INTRO" 					property="teamIntro"/>
		<result column="TEAM_LOGO_IMG_ATTACHED_NAME" 	property="teamLogoImgAttachedName"/>
		<result column="TEAM_LOGO_IMG_ORIGN_NAME" 		property="teamLogoImgOrignName"/>
		<result column="TEAM_LOGO_IMG_CODE" 			property="teamLogoImgCode"/>
		<result column="RANK_TOTAL_SCORE" 				property="rankTotalScore"/>
		<result column="MEMBERCOUNT" 					property="memberCount"/>
	</resultMap>
	
	<resultMap type="com.kh.project.team.vo.TeamLogoImgVO" id="teamLogoImg">
		<id column="TEAM_LOGO_IMG_CODE" 				property="teamLogoImgCode"/>
		<result column="TEAM_LOGO_IMG_ORIGN_NAME" 		property="teamLogoImgOrignName"/>
		<result column="TEAM_LOGO_IMG_ATTACHED_NAME" 	property="teamLogoImgAttachedName"/>
		<result column="TEAM_CODE"						property="teamCode"/>
	</resultMap>
	
	<resultMap type="com.kh.project.team.vo.TeamVO" id="teamView">
		<id column="TEAM_CODE" 						property="teamCode"/>
		<result column="TEAM_NAME" 					property="teamName" />				
		<result column="TEAM_INTRO" 				property="teamIntro"/>
		<result column="TEAM_LOGO_IMG_ORIGN_NAME"	property="teamLogoImgOrignName"/>
		<result column="RANK_TOTAL_SCORE"			property="rankTotalScore"/>
		<result column="MEMBER_NAME"				property="memberName"/>
		<result column="MEMBER_GENDER"				property="memberGender"/>
		<result column="MEMBER_TELL"				property="memberTell"/>	
		<result column="MEMBER_CODE"				property="memberCode"/>	
		<result column="TEAM_ADMIN"					property="teamAdmin"/>
		<result column="MEMBER_IMG_ATTACHED_NAME"	property="memberImgAttachedName"/>
		<result column="POSITION"					property="position"/>
		<result column="APPLY_CODE"					property="applyCode"/>
		<result column="APPLY_SORT"					property="applySort"/>
	</resultMap>
	
	<resultMap type="com.kh.project.team.vo.TeamApplyVO" id="apply">
		<id column="APPLY_CODE" 						property="applyCode"/>
		<result column="TEAM_CODE" 						property="teamCode" />				
		<result column="MEMBER_CODE" 					property="memberCode"/>
		<result column="APPLY_SORT" 					property="applySort"/>
	</resultMap>
	
	<resultMap type="com.kh.project.team.vo.TeamMatchVO" id="MyTeamMatchManage">
		<id column="MATCH_CODE" 							property="matchCode"/>
		<result column="HOME_TEAM_NAME" 					property="homeTeamName" />	
		<result column="AWAY_TEAM_NAME" 					property="awayTeamName" />	
		<result column="MATCH_RESULT_HOMETEAM_SCORE" 		property="matchResultHometeamScore"/>
		<result column="MATCH_RESULT_AWAYTEAM_SCORE" 		property="matchResultAwayteamScore"/>
		<result column="MATCH_DATE" 						property="matchDate"/>
		<result column="MATCH_START_TIME" 					property="matchStartTime"/>
		<result column="MATCH_END_TIME" 					property="matchEndTime"/>
	</resultMap>
	
	

	
	<insert id="insertTeam">
		INSERT INTO TEAM(
			TEAM_CODE
			, TEAM_NAME
			, MEMBER_CODE
			, TEAM_LOCATION
			, TEAM_INTRO
		) VALUES(
			#{teamCode}
			, #{teamName}
			, #{memberCode}
			, #{teamLocation}
			, #{teamIntro}
		)
	</insert>
	
		<!-- 팀생성시 멤버테이블에 팀코드 입력 -->
	<update id="upDateMemberTeamCode" >
		UPDATE MEMBER SET 
			TEAM_CODE = #{teamCode}
			, TEAM_ADMIN = '3'
			WHERE
			MEMBER_CODE = #{memberCode}
	</update>
	
	<!-- 팀생성시 랭크 테이블에 팀코드 입력 -->
	<insert id="insertRankTeam">
		INSERT INTO RANK (
			TEAM_CODE
		) VALUES (
			#{teamCode}
		)
	</insert>
	
	<select id="selectNextTeamCode" resultType="String">
		SELECT 'TEAM_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(TEAM_CODE, 6, 3))), 0)+1, 3, '0') FROM TEAM
	</select>
	
	<insert id="insertTeamLogoImg">
		INSERT INTO TEAM_LOGO_IMG
		VALUES(
			(SELECT 'TEAM_IMG_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(TEAM_LOGO_IMG_CODE, 10, 3))), 0)+1, 3, '0') FROM TEAM_LOGO_IMG)
			, #{teamLogoImgOrignName}
			, #{teamLogoImgAttachedName}
			, #{teamCode}
		)
	</insert>
	
	<select id="selectTeamManage" resultMap="team">
		SELECT T.TEAM_CODE
			, TEAM_NAME
			, MEMBER_CODE
			, TEAM_INTRO
			, TEAM_LOCATION
			, I.TEAM_LOGO_IMG_ATTACHED_NAME
			, I.TEAM_LOGO_IMG_CODE
		FROM TEAM T, TEAM_LOGO_IMG I
		WHERE T.TEAM_CODE = I.TEAM_CODE
		AND T.TEAM_CODE = #{teamCode}
	</select>
	
	<!-- 팀 수정하기 -->
	<update id="updateInfo">
		UPDATE TEAM SET 
			TEAM_NAME = #{teamName}
			, TEAM_INTRO = #{teamIntro}
			, TEAM_LOCATION = #{teamLocation} 
		WHERE TEAM_CODE = #{teamCode}
	</update>
	
	<!-- 팀 사진 수정하기 -->
		<update id="updateImgInfo">
		UPDATE TEAM_LOGO_IMG SET 
			TEAM_LOGO_IMG_ORIGN_NAME = #{teamLogoImgOrignName}
			, TEAM_LOGO_IMG_ATTACHED_NAME = #{teamLogoImgAttachedName}
		WHERE TEAM_LOGO_IMG_CODE = #{teamLogoImgCode}
	</update>
 
	<!-- 팀 삭제 -->
	<delete id="deleteTeam">
	DELETE FROM TEAM 
	WHERE TEAM_CODE = #{teamCode}
	</delete>
	<!-- 팀 삭제 시 팀 이미지 삭제 -->
	<delete id="deleteTeamImg">
	DELETE FROM TEAM_LOGO_IMG
	WHERE TEAM_CODE = #{teamCode}
	</delete>
	
	<!-- 팀삭제시 멤버에있는 팀코드 수정 -->
	<update id="deleteMemberTeamCode">
		UPDATE MEMBER SET
		TEAM_CODE = NULL
		, TEAM_ADMIN = '1'
		WHERE TEAM_CODE = #{teamCode}
	</update>
	
	<!--팀 리스트 조회 -->
	<select id="selectTeamList" resultMap="teamView">
		SELECT T.TEAM_CODE
	    , T.TEAM_NAME
	    , TI.TEAM_LOGO_IMG_ORIGN_NAME
	    , R.RANK_TOTAL_SCORE
	    , (SELECT COUNT(INNER_M.MEMBER_CODE) FROM MEMBER INNER_M , TEAM INNER_T
	        WHERE INNER_T.TEAM_CODE = INNER_M.TEAM_CODE
	       AND INNER_T.TEAM_CODE = T.TEAM_CODE) AS MEMBERCOUNT     
		FROM RANK R, TEAM_LOGO_IMG TI, TEAM T
		WHERE T.TEAM_CODE = TI.TEAM_CODE 
		AND T.TEAM_CODE = R.TEAM_CODE
		ORDER BY RANK_TOTAL_SCORE DESC
	</select>
	<!-- 팀 목록에서 팀원정보 조회 -->
	<select id="selectTeamDetail" resultMap="teamView">
		SELECT M.MEMBER_NAME
		 , MEMBER_GENDER
		 , MEMBER_TELL
		 , TEAM_ADMIN	 
		 , POSITION
         , (SELECT MEMBER_IMG_ATTACHED_NAME
            	FROM MEMBER_IMG
            	WHERE MEMBER_CODE = M.MEMBER_CODE) AS MEMBER_IMG_ATTACHED_NAME 
			FROM MEMBER M
			WHERE M.TEAM_CODE = #{teamCode}
	</select>
	
	<!-- 팀관리 팀원 조회 -->
	<select id="selectTeamMemberManage" resultMap="teamView">
		SELECT MEMBER_NAME
        , MEMBER_CODE
        , POSITION
        , (SELECT MEMBER_IMG_ATTACHED_NAME 
            FROM MEMBER_IMG IM
            WHERE IM.MEMBER_CODE = M.MEMBER_CODE) AS MEMBER_IMG_ATTACHED_NAME
    	FROM MEMBER M
    	WHERE M.TEAM_CODE = #{teamCode}
	
	</select>
	<!-- 팀원 상세조회  -->
	<select id="selectTeamMemberDetail" resultMap="teamView">
		SELECT MEMBER_NAME
        , POSITION
        , (SELECT MEMBER_IMG_ATTACHED_NAME 
            FROM MEMBER_IMG IM
            WHERE IM.MEMBER_CODE = M.MEMBER_CODE) AS MEMBER_IMG_ATTACHED_NAME
        , TEAM_ADMIN
        , MEMBER_GENDER
        , MEMBER_TELL
        , MEMBER_CODE
        FROM MEMBER M
        WHERE M.MEMBER_CODE = #{memberCode}
	</select>
	
	<insert id="insertTeamApply">
	INSERT INTO TEAM_APPLY(
    APPLY_CODE
    , TEAM_CODE
    , MEMBER_CODE
    	) VALUES (
    	(SELECT 'APPLY_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(APPLY_CODE, 7, 3))), 0)+1, 3, '0') FROM TEAM_APPLY)
    	, #{teamCode}
    	, #{memberCode}
    	)
	</insert>
	
	<select id="selectApplyMember" resultMap="teamView">
		SELECT 
		M.MEMBER_CODE
	    , POSITION
	    , MEMBER_NAME
	    , MEMBER_GENDER
	    , (SELECT MEMBER_IMG_ATTACHED_NAME
	                    FROM MEMBER_IMG
	                    WHERE MEMBER_CODE = T.MEMBER_CODE) AS MEMBER_IMG_ATTACHED_NAME 
		FROM MEMBER M , TEAM_APPLY T 
        WHERE T.TEAM_CODE = #{teamCode}
        AND M.MEMBER_CODE = T.MEMBER_CODE
        AND APPLY_SORT = '1'
	</select>
	<!-- 팀가입 승인  -->
	<update id="teamApplyApproval">
	UPDATE MEMBER
	SET TEAM_CODE = #{teamCode}
		, TEAM_ADMIN = '2'
	WHERE MEMBER_CODE = #{memberCode}
	
	</update>
	
	<!-- 팀가입 승인 및 삭제  -->
	<delete id="teamApplyReject">
	DELETE FROM TEAM_APPLY
		WHERE MEMBER_CODE = #{memberCode}
		AND TEAM_CODE = #{teamCode}
	</delete>
	
	<!-- 팀 강퇴  -->
	<update id="teamMemberDelete">
	UPDATE MEMBER
	SET TEAM_CODE = NULL
		, TEAM_ADMIN = '1'
	WHERE MEMBER_CODE = #{memberCode}
	</update>
	<!-- 팀이름 중복체크 -->
	<select id="checkTeamName" resultType="String">
		SELECT TEAM_NAME
		FROM TEAM 
		WHERE TEAM_NAME = #{teamName}
	</select>
	
	<!-- 팀 매치 경기결과 관리 -->
	<select id="myAfterMatchManage" resultMap="MyTeamMatchManage">
	SELECT MATCH.MATCH_CODE
    , MATCH_WRITER AS HOME_TEAM_NAME
    , (SELECT TEAM_NAME FROM TEAM WHERE TEAM.TEAM_CODE = MATCH_MANAGE.TEAM_CODE_AWAY AND MATCH_MANAGE.MATCH_MANAGE_RESPONSE = '수락') AS AWAY_TEAM_NAME
    , MATCH_RESULT_HOMETEAM_SCORE
    , MATCH_RESULT_AWAYTEAM_SCORE
    , MATCH_DATE
    , MATCH_START_TIME
    , MATCH_END_TIME
		FROM MATCH, MATCH_RESULT, MATCH_MANAGE
		WHERE MATCH.MATCH_CODE = MATCH_RESULT.MATCH_CODE(+)
		AND MATCH.MATCH_CODE = MATCH_MANAGE.MATCH_CODE
		AND (MATCH.TEAM_CODE = #{teamCode} OR MATCH.TEAM_CODE_AWAY = #{teamCode})
		AND MATCH.MATCH_POSSIBLE = '2'
		AND MATCH_MANAGE.MATCH_MANAGE_RESPONSE = '수락'
		AND MATCH_RESULT_HOMETEAM_SCORE IS NOT NULL
		ORDER BY MATCH_CODE
	</select>
	<!-- 팀 매치 경기 전 일정 관리 -->
	<select id="myBeforeMatchManage" resultMap="MyTeamMatchManage">
	SELECT MATCH.MATCH_CODE
    , MATCH_WRITER AS HOME_TEAM_NAME
    , (SELECT TEAM_NAME FROM TEAM WHERE TEAM.TEAM_CODE = MATCH_MANAGE.TEAM_CODE_AWAY AND MATCH_MANAGE.MATCH_MANAGE_RESPONSE = '수락') AS AWAY_TEAM_NAME
    , MATCH_RESULT_HOMETEAM_SCORE
    , MATCH_RESULT_AWAYTEAM_SCORE
    , MATCH_DATE
    , MATCH_START_TIME
    , MATCH_END_TIME
		FROM MATCH, MATCH_RESULT, MATCH_MANAGE
		WHERE MATCH.MATCH_CODE = MATCH_RESULT.MATCH_CODE(+)
		AND MATCH.MATCH_CODE = MATCH_MANAGE.MATCH_CODE
		AND (MATCH.TEAM_CODE = #{teamCode} OR MATCH.TEAM_CODE_AWAY = #{teamCode})
		AND MATCH.MATCH_POSSIBLE = '2'
		AND MATCH_MANAGE.MATCH_MANAGE_RESPONSE = '수락'
		AND MATCH_RESULT_HOMETEAM_SCORE IS NULL
		ORDER BY MATCH_CODE
	</select>
	

</mapper>


