<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="teamMapper">
	<resultMap type="com.kh.project.team.vo.TeamVO" id="team">
		<id column="TEAM_CODE" 						property="teamCode"/>
		<result column="TEAM_NAME" 					property="teamName"/>
		<result column="MEMBER_CODE" 				property="memberCode"/>
		<result column="TEAM_ADMIN" 				property="teamAdmin"/>
		<result column="TEAM_LOCATION" 				property="teamLocation"/>
		<result column="TEAM_INTRO" 				property="teamIntro"/>
		<result column="TEAM_LOGO_IMG_ATTACHED_NAME" 	property="teamLogoImgAttachedName"/>
		<result column="TEAM_LOGO_IMG_ORIGN_NAME" 	property="teamLogoImgOrignName"/>
		<result column="TEAM_LOGO_IMG_CODE" 	property="teamLogoImgCode"/>
	</resultMap>
	<resultMap type="com.kh.project.team.vo.TeamLogoImgVO" id="teamLogoImg">
		<id column="TEAM_LOGO_IMG_CODE" 				property="teamLogoImgCode"/>
		<result column="TEAM_LOGO_IMG_ORIGN_NAME" 		property="teamLogoImgOrignName"/>
		<result column="TEAM_LOGO_IMG_ATTACHED_NAME" 	property="teamLogoImgAttachedName"/>
		<result column="TEAM_CODE"						property="teamCode"/>
	</resultMap>
	
	<insert id="insertTeam">
		INSERT INTO TEAM(
			TEAM_CODE
			, TEAM_NAME
			, MEMBER_CODE
			, TEAM_LOCATION
			, TEAM_INTRO
		) VALUES(
			#{teamCode}
			, #{teamName}
			, #{memberCode}
			, #{teamLocation}
			, #{teamIntro}
		)
	</insert>
	
		<!-- 팀생성시 멤버테이블에 팀코드 입력 -->
	<update id="upDateMemberTeamCode" >
		UPDATE MEMBER SET 
			TEAM_CODE = #{teamCode}
			, TEAM_ADMIN = '3'
			WHERE
			MEMBER_CODE = #{memberCode}
	</update>
	
	<!-- 팀생성시 랭크 테이블에 팀코드 입력 -->
	<insert id="insertRankTeam">
		INSERT INTO RANK (
			TEAM_CODE
		) VALUES (
			#{teamCode}
		)
	</insert>
	
	<select id="selectNextTeamCode" resultType="String">
		SELECT 'TEAM_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(TEAM_CODE, 6, 3))), 0)+1, 3, '0') FROM TEAM
	</select>
	
	<insert id="insertTeamLogoImg">
		INSERT INTO TEAM_LOGO_IMG
		VALUES(
			(SELECT 'TEAM_IMG_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(TEAM_LOGO_IMG_CODE, 10, 3))), 0)+1, 3, '0') FROM TEAM_LOGO_IMG)
			, #{teamLogoImgAttachedName}
			, #{teamLogoImgOrignName}
			, #{teamCode}
		)
	</insert>
	
	<select id="selectTeamManage" resultMap="team">
		SELECT T.TEAM_CODE
			, TEAM_NAME
			, MEMBER_CODE
			, TEAM_INTRO
			, TEAM_LOCATION
			, I.TEAM_LOGO_IMG_ATTACHED_NAME
			, I.TEAM_LOGO_IMG_ORIGN_NAME
			, I.TEAM_LOGO_IMG_CODE
		FROM TEAM T, TEAM_LOGO_IMG I
		WHERE T.TEAM_CODE = I.TEAM_CODE
		AND T.TEAM_CODE = #{teamCode}
	</select>
	
	<!-- 팀 수정하기 -->
	<update id="updateInfo">
		UPDATE TEAM SET 
			TEAM_NAME = #{teamName}
			, TEAM_INTRO = #{teamIntro}
			, TEAM_LOCATION = #{teamLocation} 
		WHERE TEAM_CODE = #{teamCode}
	</update>
	
	<!-- 팀 사진 수정하기 -->
		<update id="updateImgInfo">
		UPDATE TEAM_LOGO_IMG SET 
			TEAM_LOGO_IMG_ORIGN_NAME = #{teamLogoImgOrignName}
			, TEAM_LOGO_IMG_ATTACHED_NAME = #{teamLogoImgAttachedName}
		WHERE TEAM_LOGO_IMG_CODE = #{teamLogoImgCode}
	</update>
 
	<!-- 팀 삭제 -->
	<delete id="deleteTeam">
	DELETE FROM TEAM 
	WHERE TEAM_CODE = #{teamCode}
	</delete>
	
	<delete id="deleteTeamImg">
	DELETE FROM TEAM_LOGO_IMG
	WHERE TEAM_CODE = #{teamCode}
	</delete>
	
	<!-- 팀삭제시 멤버에있는 팀코드 수정 -->
	<update id="deleteMemberTeamCode">
		UPDATE MEMBER SET
		TEAM_CODE = NULL
		, TEAM_ADMIN = '1'
		WHERE TEAM_CODE = #{teamCode}
	</update>
	<!-- <select id="">
		SELECT 
	</select> -->
	
</mapper>


